.loginBtn{
  background-color: white;
  font-size: 16px;
  border-radius: 10px;
  border: 1.5px solid #C2242D;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #C2242D;
}

.signedInTxt{
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #C2242D;
}

.logoutBtn{
  background-color: white;
  font-size: 16px;
  border-radius: 10px;
  border: 1.5px solid #C2242D;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #C2242D;
}