.postContainer{
  max-width: 790px; 
  max-height: 190px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 1.5px #581518;
  background: linear-gradient(to bottom, #FBE7E7, #FDF8F8);
}

.postImage{
  max-height: 160px;
  max-width: 160px;
  width: 100%;
  height: 100%;
}

.postAuthor{
  background-color: #C2242D;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px;
  font-weight: bold;
  font-family: "Belanosima", sans-serif;
  /* font-family: "Edu AU VIC WA NT Hand", cursive; */
  font-weight: 400;
}

.postTitle{
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  font-size: 30px;
  color: black;
}

.postDate{
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: black;
}

.postDescript {
  overflow: hidden;        /* Hides text that overflows the container */
  text-overflow: ellipsis; /* Adds an ellipsis (...) to indicate there is more text */
  white-space: nowrap;     /* Prevents text from wrapping to a new line */
  padding-right: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

.postLikes{
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

.postComments{
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}
