.locatorTxtAlign{
  margin-top: 10px;
}

.locatorTxt{
  color: #C2242D;
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  font-size: 60px;
}

.locatorSubTxt{
  color: #C2242D;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.leaflet-container{
  height: 60vh;
}

.locateBtn{
  background-color: #C2242D;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: white;
  border-radius: 10px;
  border-color: transparent;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.feedback{
  text-align: center;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}